.login-panel {
    width: 400px;
    height: 500px;
    padding: 1em;
}

.login-text {
    text-align: center;
}

.login-button {
    text-align: center;
}

.login-button-inner {
    width: 200px;
}

.login-form {
    margin-top: 100px;
    margin-left: 10%;
    width: 80%;
}

#username-input {
}