#sidepanel {
    width: 600px;
    height: 100vh;
    background-color: var(--gray-dark);
    color: white;
    padding: 1em;
}

.squashed-buttons {
    display:flex;
    flex-direction: row;    
    margin-bottom: 3em;
}

.dashboard-wrapper {
    display: flex;
    flex-direction: row;    
}

.dashboard-content {
    background-color: #212529;
    width: 100%;
    display: flex;
    justify-content: center;
}

.rank-button-group {
    margin-top: 50px;
}

.sidebar-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100% - 2.5em);
}

.sidepanel-selector {
    width: 100%;
    border: none 0;
    background-color: var(--gray);
    color: white;
    height: 50px;
}

.sidepanel-selector:hover {
    background-color: white;
    color: var(--gray-dark);
    transition: 300ms;
}

.sidepanel-selector:focus {outline:0;}

.disabled-selector {
    width: 100%;
    border: none 0;
    background-color: #5e6163;
    color: gray;
    height: 50px;
}

.disabled-selector:focus {outline:0;}

.surrender-button {
    background-color: var(--danger);
    margin-bottom: 1em;
}

.logout-button {
    margin-bottom: 1em;
}

.sidepanel-selector-selected {
     background-color: var(--warning) !important;
     color: var(--gray-dark);
}

.dashboard-content-wrapper {
    margin-top: 200px;
    width: 80%;
    display: flex;
    justify-content: left;
}

.find-match-wrapper {
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10em;
}

.find-match-button {
    height: 60px;
    width: 300px;
}

.stats-panel {
    background-color: white;
    height: 400px;
    width: 1000px;
    padding: 3em;
}

.history-text {
    text-align: center;
    margin-top: 1em;
}

.test-progress-bar {
    margin-top: 1em;
    margin-bottom: 1em;
    background: white;
    padding: 1em;
}

.stdout-output {
    background-color: white;
    margin-bottom: 1em;
    height: 150px;
    font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    color: black;
    overflow: scroll;
    overflow-x: wrap;
}

.stderr-output {
    background-color: white;
    margin-bottom: 1em;
    height: 150px;
    font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    color: black;
    overflow-y: scroll;
    overflow-x: wrap;
}

.end-game-modal {
    position: fixed;
    top: 40vh;
    left: 45%;
    width: 400px;
}

code {
    color: white !important;
}