#sidepanel {
    width: 600px;
    height: 100vh;
    background-color: var(--gray-dark);
    color: white;
    padding: 1em;
}

.squashed-buttons {
    display:flex;
    flex-direction: row;    
    margin-bottom: 3em;
}

.dashboard-wrapper {
    display: flex;
    flex-direction: row;    
}

.dashboard-content {
    background-color: #212529;
    width: 100%;
}

.rank-button-group {
    margin-top: 50px;
}

.sidebar-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100% - 2.5em);
}

.sidepanel-selector {
    width: 100%;
    border: none 0;
    background-color: var(--gray);
    color: white;
    height: 50px;
}

.sidepanel-selector:hover {
    background-color: white;
    color: var(--gray-dark);
    transition: 300ms;
}

.sidepanel-selector:focus {outline:0;}

.surrender-button {
    background-color: var(--danger);
    margin-bottom: 1em;
}

.logout-button {
    margin-bottom: 1em;
}

.sidepanel-selector-selected {
     background-color: var(--warning) !important;
     color: var(--gray-dark);
}